<div class="container">
  <h1>List Items</h1>
  <ul class="list-group">
    <li class="list-group-item" *ngFor="let item of items">
      <p>{{ item.title }}</p>
      <hr>
      <label class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input">
        <span class="custom-control-indicator"></span>
      </label>
    </li>
  </ul>

  <a routerLink="/add-item">
    <button type="button" class="btn btn-info btn-lg float-right">
      <span class="octicon octicon-plus" aria-hidden="true"></span>
    </button>
  </a>
</div>
